<div class="collection">
  <br>
  <h1><strong>{{collection.title1}}</strong>{{collection.title2}}</h1>
  <br>
  <a href="/#/">&larr; Back to Home</a>

  <br><br>

  <div ng-repeat="pic in collection.pics">
    <br>
    <center>
      <img ng-src="{{pic}}"/>
      <p>
        Download Url:<br>
        <input type="text" id="txtfld" onClick="SelectAll('txtfld');" style="width:100%" value="{{baseUrl + pic}}" />
      </p>
    </a>
    </center>
    <br><br>
  </div>
</div>


<script type="text/javascript">
function SelectAll(id)
{
    document.getElementById(id).focus();
    document.getElementById(id).select();
}
</script>

