
  <div class="bgSizeCover">
  <p class="title move-down">Coworking Stock Photos</p>
  <p class="subtitle move-up">Photos you can afford</p>
</div>

  <div ng-if="isDesktop" class="container">
    <div ng-repeat="collection in collections">
      <a ng-href="#/collection/{{collection.slug}}">
        <div class="grid one">
          <figure class="effect-hover">
            <img ng-src="{{collection.cover}}" alt="{{collection.title1}} {{collection.title2}}"/>
            <figcaption>
              <h2>{{collection.title1}}<span>{{collection.title2}}</span></h2>
              <p>{{collection.description}}</p>
            </figcaption>    
          </figure>
        </div>
      </a>
    </div>
  </div>

  <div ng-if="isMobile || isTablet">
    <br>
    <div ng-repeat="collection in collections">
      <center>
        <a ng-href="#/collection/{{collection.slug}}" style="color:black;text-decoration:none;">
          <img ng-src="{{collection.cover}}" alt="{{collection.title1}} {{collection.title2}}" style="width:100%"/>
          <br>
          <span style="font-size:46px;"><strong>{{collection.title1}}</strong>{{collection.title2}}</span>
          <br><br><br>
        </a>
      </center>
    </div>
  </div>

 <script>
  $(window).scroll(function() {
    $('.test').each(setPullUp);
  });
function setPullUp5000 () {
  setPullUp(5000);
}
  function setPullUp(delayNum){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+400) {
        $(this).delay(delayNum).addClass("pullUp");
      }
    }
</script>